<style>
    .container {
        width: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }

    .value {
        padding: 10px;
        margin: 5px;
        background: #8257e6;
        color: #FFF;
        border-radius: 6px;
        width: 15px;
        text-align: center;
        text-decoration: none;
    }

    .level {
        display: flex;
        margin: 10px;
        justify-content: space-between;
    }

    .answers {
        display: flex;
        justify-content: space-between;
    }
</style>

<div class="container">
    <label for="">Olá <strong>{{name}}</strong>! Tudo bem?</label>

    <h3>{{title}}</h3>
    <br>
    <strong>{{description}}</strong>

    <div class="level">
        <span>Pouco provável</span>
        <span>Muito provável</span>
    </div>

    <div class="answers">
        <a class="value" href="{{link}}/answers/1?s={{surveyUsers}}">1</a>
        <a class="value" href="{{link}}/answers/2?s={{surveyUsers}}">2</a>
        <a class="value" href="{{link}}/answers/3?s={{surveyUsers}}">3</a>
        <a class="value" href="{{link}}/answers/4?s={{surveyUsers}}">4</a>
        <a class="value" href="{{link}}/answers/5?s={{surveyUsers}}">5</a>
        <a class="value" href="{{link}}/answers/6?s={{surveyUsers}}">6</a>
        <a class="value" href="{{link}}/answers/7?s={{surveyUsers}}">7</a>
        <a class="value" href="{{link}}/answers/8?s={{surveyUsers}}">8</a>
        <a class="value" href="{{link}}/answers/9?s={{surveyUsers}}">9</a>
        <a class="value" href="{{link}}/answers/10?s={{surveyUsers}}">10</a>
    </div>

    <br>
    <br>

    <strong> Sua opnião é muito importante para nós.</strong>
    <h3> Equipe | <strong>NLW</strong> </h3>
</div>