<style>
    .container {
        width: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }

    .value {
        padding: 10px;
        margin: 5px;
        background: #8257e6;
        color: #FFF;
        border-radius: 6px;
        width: 15px;
        text-align: center;
        text-decoration: none;
    }

    .level {
        display: flex;
        margin: 10px;
        justify-content: space-between;
    }

    .answers {
        display: flex;
        justify-content: space-between;
    }
</style>

<div class="container">
    <label for="">Olá <strong>{{name}}</strong>! Tudo bem?</label>

    <h3>{{title}}</h3>
    <br>
    <strong>{{description}}</strong>

    <div class="level">
        <span>Pouco provável</span>
        <span>Muito provável</span>
    </div>

    <div class="answers">
        <a class="value" href="{{link}}/answers/1?user={{user_id}}">1</a>
        <a class="value" href="{{link}}/answers/2?user={{user_id}}">2</a>
        <a class="value" href="{{link}}/answers/3?user={{user_id}}">3</a>
        <a class="value" href="{{link}}/answers/4?user={{user_id}}">4</a>
        <a class="value" href="{{link}}/answers/5?user={{user_id}}">5</a>
        <a class="value" href="{{link}}/answers/6?user={{user_id}}">6</a>
        <a class="value" href="{{link}}/answers/7?user={{user_id}}">7</a>
        <a class="value" href="{{link}}/answers/8?user={{user_id}}">8</a>
        <a class="value" href="{{link}}/answers/9?user={{user_id}}">9</a>
        <a class="value" href="{{link}}/answers/10?user={{user_id}}">10</a>
    </div>

    <br>
    <br>

    <strong> Sua opnião é muito importante para nós.</strong>
    <h3> Equipe | <strong>NLW</strong> </h3>
</div>